<section id="primary_content" class="container">

	<div class="toolkit-header">
    <h1><%= link_to "Cubicle Warriors <span>Toolkit</span>".html_safe, toolkits_path %></h1>
    <p><%= @toolkit.title %></p>
  </div>
  
  <div class="toolkit">
  
    <ul class="toolkit-options">
      <li class="toolkit-option option-share"><%= link_to "Share", "#share-#{@toolkit.priority}", :rel => "leanModal" %></li>
      <li class="toolkit-option option-download"><%= link_to "Download", @toolkit.download.url %></li>
      <li class="toolkit-option option-comment"><%= link_to "Comment", "#comment-#{@toolkit.priority}", :rel => "leanModal" %></li>      
    </ul>
  
    <div class="toolkit-content">
      <%= render "toolkits/slides/toolkit_#{@toolkit.priority}" %>
    </div>
    
    <%= render "share", :toolkit => @toolkit %>
    <%= render "comment", :toolkit => @toolkit %>
    
  </div>
	  	
</section>