<section id="primary_content" class="container">
	
	<article class="post" id="schemantics">
	  
	  <h1><%= @intrapreneur.name %></h1>
    
    <% unless @intrapreneur.hero_image.url.nil? %>
      <%=  image_tag @intrapreneur.hero_image.panel %>
    <% end %>
    
    <% if  @intrapreneur.job_title %>
    <p class="footnote"><%= @intrapreneur.job_title %></p>
    <% end %>
    
		<% if @intrapreneur.body.is_json? %>
		<%= render_sir_trevor(@intrapreneur.body) %>
		<% else %>
		<%= sir_trevor_markdown(@intrapreneur.body).html_safe %>
		<% end %>
		
	</article>
	
	<aside class="details">
	  
	  <% unless @intrapreneur.link.blank? %>
    <div class="option link pane">
      <%= link_to "Explore further", @intrapreneur.link %>
    </div>
    <% end %>
	  
	  <div class="option related pane">
      <%= link_to "More people", people_path %>
    </div>
	  
	</aside>
	
</section>