<section id="primary_content" class="container">
	
	<h1>About the League</h1>
	
	
	<div id="schemantics" class="panel">
		
		<p>Do you work for big business? Are you responsible for launching a new initiative, product or service that is a force for good in the world? Would your colleagues describe you as a bit of a maverick, maven or misfit?</p>
		<p><em>If so, you may be a social intrapreneur!</em></p>
		<p>Social intrapreneurs are becoming key actors in the race towards a new kind of economy. These corporate changemakers are developing scalable solutions to some of the world’s most intractable problems ranging from health to education to environment. But contrary to social entrepreneurs, they are innovating from within some of the world’s largest companies.</p>
		<p>Delivering game-changing innovation inside a company is never easy, but it’s even more challenging when the problems you’re tackling – such as climate change or poverty &ndash; are not always well understood or overtly connected to the business strategy.</p>
		<p>That's why we established the League of Intrapreneurs &ndash; to help support and strengthen this growing movement of corporate change agents transforming business from the inside out.</p>
		<p>Will you <%= link_to "join us?", join_path %></p>
		<p class="footnote">&mdash; Alexa, Gib, Rosario and Maggie</p>
	</div>
	
	<aside>
	  
	  <% if @people.any? %>
	  <h2>Our Founders &amp; Advisors</h2>
    <ul class="face_grid">
      <% @people.each do |intrapreneur| %>
        <li>
          <%= link_to intrapreneur.name, person_path(intrapreneur), :class => "face_link" %>
  			  <% unless intrapreneur.hero_image.url.nil? %>
            <%= link_to (image_tag intrapreneur.hero_image.thumbnail, :alt => intrapreneur.name), person_path(intrapreneur) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  	<% end %>
	  
	  <h2>Our Partners</h2>
				
  	<ul class="logo_grid">
  		<li><a href="http://www.iic.org/"><%= image_tag "branding/idb.gif", :alt => "IDB" %></a></li>
  		<li><a href="http://www.iic.org/"><%= image_tag "branding/iic.gif", :alt => "IIC" %></a></li>
  		<li><a href="http://www.accenture.com/"><%= image_tag "branding/accenture.gif", :alt => "Accenture" %></a></li>
  		<li><a href="http://www.gsk.com/"><%= image_tag "branding/gsk.gif", :alt => "GSK" %></a></li>
  		<li><a href="http://www.standardchartered.com"><%= image_tag "branding/standard_charter.gif", :alt => "Standard Chartered" %></a></li>
  		<li><a href="http://www.imaginals.net"><%= image_tag "branding/imaginals.gif", :alt => "Imaginals" %></a></li>
  		<li><a href="http://www.misfiteconomy.com"><%= image_tag "branding/misfit.gif", :alt => "Misfit Economy" %></a></li>
  		<li><a href="http://www.changemakers.com"><%= image_tag "branding/ashoka.gif", :alt => "Ashoka Changemakers" %></a></li>
  		<li><a href="http://www.netimpact.org"><%= image_tag "branding/net_impact.gif", :alt => "Net Impact" %></a></li>
  		<li><a href="http://www.aspeninstitute.org"><%= image_tag "branding/aspen.gif", :alt => "Aspen Institute" %></a></li>
  		<li><a href="http://www.businessfightspoverty.org"><%= image_tag "branding/business_fights_poverty.gif", :alt => "Business Fights Poverty" %></a></li>
  		<li><a href="http://www.wbcsd.org"><%= image_tag "branding/wb.gif", :alt => "WBCSD" %></a></li>
  		<li><a href="http://www.volans.com"><%= image_tag "branding/volans.gif", :alt => "Volans" %></a></li>
  		<li><a href="http://www.sustainability.com"><%= image_tag "branding/sustainability.gif", :alt => "SustainAbility" %></a></li>
  		<li><a href="http://www.sbs.ox.ac.uk/centres/skoll/"><%= image_tag "branding/skoll.gif", :alt => "Skoll Centre for Social Entrepreneurship, Said Business School" %></a></li>
  		<li><a href="http://www1.ifc.org/wps/wcm/connect/corp_ext_content/ifc_external_corporate_site/home"><%= image_tag "branding/ifc.gif", :alt => "International Finance Corportation" %></a></li>
  		<li><a href="http://www.som.cranfield.ac.uk/som/p14340/Research/Research-Centres/Doughty-Centre-Home"><%= image_tag "branding/doughty.gif", :alt => "Doughty Centre for Corporate Responsibility" %></a></li>
  		<li><a href="http://www.korea.net/"><%= image_tag "branding/korea.gif", :alt => "South Korea" %></a></li>
  	</ul>
		
	</aside>
	
</section>
