<section id="primary_content" class="container">

	<ul class="logo_grid">
		<li><a href="http://www.iic.org/"><%= image_tag "", :alt => "IDB" %></a></li>
		<li><a href="http://www.iic.org/"><%= image_tag "", :alt => "IIC" %></a></li>
		<li><a href="http://www.accenture.com/"><%= image_tag "", :alt => "Accenture" %></a></li>
		<li><a href="http://www.gsk.com/"><%= image_tag "", :alt => "GSK" %></a></li>
		<li><a href="http://www.standardchartered.com"><%= image_tag "", :alt => "Standard Chartered" %></a></li>
		<li><a href="http://www.imaginals.net"><%= image_tag "", :alt => "Imaginals" %></a></li>
		<li><a href="http://www.misfiteconomy.com"><%= image_tag "", :alt => "Misfit Economy" %></a></li>
		<li><a href="http://www.changemakers.com"><%= image_tag "", :alt => "Ashoka Changemakers" %></a></li>
		<li><a href="http://www.netimpact.org"><%= image_tag "", :alt => "Net Impact" %></a></li>
		<li><a href="http://www.aspeninstitute.org"><%= image_tag "", :alt => "Aspen Institute" %></a></li>
		<li><a href="http://www.businessfightspoverty.org"><%= image_tag "", :alt => "Business Fights Poverty" %></a></li>
		<li><a href="http://www.wbcsd.org"><%= image_tag "", :alt => "WBCSD" %></a></li>
		<li><a href="http://www.volans.com"><%= image_tag "", :alt => "Volans" %></a></li>
		<li><a href="http://www.sustainability.com"><%= image_tag "", :alt => "SustainAbility" %></a></li>
		<li><a href="http://www.sbs.ox.ac.uk/centres/skoll/"><%= image_tag "", :alt => "Skoll Centre for Social Entrepreneurship, Said Business School" %></a></li>
		<li><a href=""><%= image_tag "", :alt => "Ross School of Business, Kellogg" %></a></li>
		<li><a href=""><%= image_tag "", :alt => "Portland State University School of Business" %></a></li>
		<li><a href=""><%= image_tag "", :alt => "University of Michigan" %></a></li>
		<li><a href=""><%= image_tag "", :alt => "Sustainable Brands" %></a></li>
		<li><a href=""><%= image_tag "", :alt => "Mission Measurement" %></a></li>
	</ul>

</section>