<ul class="toolkit-slides">
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_2.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_3.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_4.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_5.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_6.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_7.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_8.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_9.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_10.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_11.gif" %></li>
  <li><%= image_tag "toolkits/3/3_LOI_Toolkit_Building_Community_31.07.13_12.gif" %></li>
</ul>