<ul class="toolkit-slides">
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_2.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_3.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_4.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_5.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_6.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_7.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_8.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_9.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_10.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_11.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_12.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_13.gif" %></li>
  <li><%= image_tag "toolkits/4/4_LOI_Toolkit_Unlocking_Resources_AW_13.10.13_14.gif" %></li>
</ul>