<ul class="toolkit-slides">
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_2.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_3.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_4.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_5.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_6.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_7.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_8.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_9.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_10.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_11.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_12.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_13.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_14.gif" %></li>
  <li><%= image_tag "toolkits/1/1_LOI_Toolkit_Making_The_Business_Case_08.08.13_15.gif" %></li>
</ul>