<section id="featured_content" class="container">
	<ul id="archetypes">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>

<section id="primary_content" class="container panels">
	
	<% if @resource.any? %>
	<div class="panel">	
		<h2><%= link_to "Resources", resources_path %></h2>
		<% resource = @resource.first %>
		<p><%= resource.title %></p>
	</div>
	<% end %>
	
	<% if @event.any? %>
	<div class="panel">	
		<h2><%= link_to "Events", events_path %></h2>
		<% event = @event.first %>
		<p><%= event.title %></p>
	</div>
	<% end %>
	
	<div class="panel">	
		<h2><%= link_to "Follow @SocIntLeague", "http://twitter.com/SocIntLeague" %></h2>
		<% cache("tweets", :expires_in => 42.minutes) do  %>
		<ul class="tweets">
		<% Twitter.user_timeline("SocIntLeague").first(2).each do |tweet| %>
		    <li>
		    	<%= auto_link(tweet.text).html_safe %>
		    </li>
		<% end %>
		</ul>
		<% end %>
	</div>
	
</section>

