<section id="featured_content" class="container">
	
	<% if @featured.any? %>
	<ul class="banners">
		
		<% @featured.each do |featured| %>
			<li>
			  <% if featured.class == Post %>
			    <div class="splash">
  			    <h2><span class="type"><%= featured.type.title %></span><br /><span><%= featured.title %></span></h2>
  			    <% unless featured.hero_image.url.nil? %>
          		<%=  image_tag featured.hero_image.panel %>
          	<% end %>
  			  </div>
  			  <div class="details">
  			    <div class="excerpt pane">
  			      <%= simple_format featured.excerpt %>
  			    </div>
  			    <div class="option read pane">
  			      <%= link_to "Read article", post_path(featured) %>
  			    </div>
  			  </div>
			  <% elsif featured.class == Event %>
			  
			  <% elsif featured.class == Intrapreneur %>
			  
			    <div class="splash">
  			    <h2><span class="type">Profile</span><br /><span><%= featured.name %></span></h2>
  			    <% unless featured.hero_image.url.nil? %>
          		<%=  image_tag featured.hero_image.panel %>
          	<% end %>
  			  </div>
  			  <div class="details">
  			    <div class="excerpt pane">
  			      <%= simple_format featured.job_title %>
  			    </div>
  			    <div class="option read pane">
  			      <%= link_to "View profile", person_path(featured) %>
  			    </div>
  			  </div>
  			  
			  <% end %>
			  
			</li>
		<% end %>
		
	</ul>
	<% end %>
	
</section>

<section class="container">
		
		<% if @posts.any? %>
		<ul class="content_grid">
		
			<% @posts.each do |post| %>
				<%= render :partial => "posts/block", :locals => {:post=>post} %>
			<% end %>
		
			<li class="post_block no_hero">
				<div class="media">
					<h2><%= link_to "Follow @SocIntLeague", "http://twitter.com/SocIntLeague" %></h2>
					<% cache("tweets", :expires_in => 42.minutes) do  %>
					<% begin %>
						<% Twitter.user_timeline("SocIntLeague").first(1).each do |tweet| %>
					    	<p><%= auto_link(tweet.text).html_safe %></p>
						<% end %>
					<% rescue %>
						<p>Whoops, looks like we can't reach Twitter right now.</p>
					<% end %>
					<% end %>
				</div>
			</li>
		
		</ul>
		<% else %>
		<p>Nothing here yet!</p>
		<% end %> 		
		
</section>
