<section id="primary_content" class="container">
	<h1>Events</h1>
	
	<div id="schemantics">
		<% if @events.any? %>
			<% @events.each do |event| %>
		
				<article class="event">
					<time>
						<%= event.date.strftime('%A') %> <%= event.date.day.ordinalize %>
						<span><%= event.date.strftime('%B') %></span>
					</time>
					<div class="content">
						<h2><%= link_to event.title, event.url %></h2>
						<%= simple_format event.body %>
					</div>
				</article>
			
			<% end %>
		<% else %>
			<p>We're not aware of any events coming up, <%= link_to "let us know" %> if you have one to share.</p>
		<% end %>
	</div>
		
	<aside>
		
		<p class="cta core_action"><%= link_to "Add an event", "mailto:hello@leagueofintrapreneurs.com?subject=New intrapreneurial event" %></p>
		<h2>Past events</h2>
		<% if @posts.any? %>		
		<ul class="content_grid">
		<% @posts.each do |post| %>
			<%= render :partial => "posts/block", :locals => {:post=>post} %>
		<% end %>
		</ul>
		<% end %>
		
	</aside>

</section>