<section id="primary_content" class="container">
	<h1>Intrapreneurial events</h1>
	
	<div id="schemantics">
		<% if @events.any? %>
			<% @events.each do |event| %>
		
				<article class="event">
					<h2><%= link_to event.title, event.url %></h2>
					<time><%= event.date.to_s(:article) %></time>
					<%= simple_format event.body %>
				</article>
			
			<% end %>
		<% else %>
			<p>We're not aware of any events coming up, <%= link_to "let us know" %> if you have one to share.</p>
		<% end %>
	</div>
	
	<% if @posts.any? %>
	<aside>
		<h2>Inspiration from past events</h2>
		
		<ul class="post_blocks">
		<% @posts.each do |post| %>
			<%= render :partial => "posts/block", :locals => {:post=>post} %>
		<% end %>
		</ul>
		
	</aside>
	<% end %>
	
</section>