<section id="primary_content" class="container">
	
	<h1>Welcome back</h1>
	
	<div id="schemantics">
		<p>Please login to access the League of Intrapreneurs admin area.</p>
	</div>
	
	<aside>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "" }) do |f| %>

		<% if params[:authfailure] %>
		<% else %>
			<%= render "shared/notices" %>
		<% end %>

	  	<%= field_set_tag do %>
	    	<%= f.input :email, :required => false, :label => "Your email address", :input_html => { :autocomplete => "off" }, :wrapper_html => { :class => "smart_label" } %>
	    	<%= f.input :password, :required => false, :label => "Your password", :wrapper_html => { :class => "smart_label" }%>
	    	<%= f.input :remember_me, :as => :hidden, :input_html => { :value => 1 } if devise_mapping.rememberable? %>
		<% end %>

		<%= field_set_tag do %>
	    	<%= f.button :submit, "Log me in" %>
		<% end %>

	<% end %>
	</aside>
	
</section>