<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
	<head>
		
		<title>League of Intrapreneurs</title>
		
		<meta name="description" content="League of Intrapreneurs" />
		<meta name="keywords" content="" />
		<link rel="shortcut icon" href="/favicon.ico?v5" />
		
		<meta property="og:title" content="<%= "#{@member.name.titlecase} at " if params[:controller] == "members" && params[:action] == "show" && !@member.nil? %>League of Intrapreneurs" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.leagueofintrapreneurs.com" />
		<meta property="og:image" content="http://www.leagueofintrapreneurs.com/assets/branding/og.gif" />
		<meta property="og:description" content="League of Intrapreneurs" />
		<meta property="fb:admins" content="1009211182" />
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
				
		<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'xxxxxxxxx']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
	</head>
	<body class="<%= "section_#{params[:controller].parameterize.underscore} view_#{params[:action]}"%>">

		<header class="container">
			
			<div id="social">
				
				<p class="heading">Connect with the League</p>
				
				<ul class="icon_list">
					<li class="twitter"><%= link_to "Twitter", "https://twitter.com/SocIntLeague" %></li>
					<li class="facebook"><%= link_to "Facebook" %></li>
					<li class="linkedin"><%= link_to "LinkedIn" %></li>
				</ul>
				
				<p class="cta"><%= link_to "Join the league", join_path %></p>

			</div>
			
			<p id="branding"><%= link_to "<span class=\"init\">The</span> <span class=\"title\">League of <br />Intrapreneurs</span>".html_safe, root_path %></p>
			<p id="tagline">The League of Intrapreneurs is a global movement of corporate changemakers working to transform business from the inside out</p>
			<nav id="primary_navigation">
				<ul>
					<li><%= link_to "Inspiration", inspiration_path, :class => ("active" if params[:controller] == "posts") %></li>
					<li><%= link_to "Events", events_path, :class => ("active" if params[:controller] == "events") %></li>
					
					<li><%= link_to "Resources", resources_path, :class => ("active" if params[:controller] == "resources") %></li>
					<li><%= link_to "About the League", about_path, :class => ("active" if params[:action] == "about" || params[:action] == "partners") %></li>
					
				</ul>
			</nav>
			
		</header>

		<div id="main" role="main">
			<%= yield %>
		</div>
	
		<footer class="container">
			<p id="colophon">Copyright &copy; Imaginals 2013, view our <%= link_to "privacy policy", privacy_path %></p>
		</footer>

	</body>
</html>