<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
	<head>
		
		<title>League of Intrapreneurs</title>
		
		<meta name="description" content="League of Intrapreneurs" />
		<meta name="keywords" content="" />
		<link rel="shortcut icon" href="/favicon.ico?v5" />
		
		<meta property="og:title" content="<%= "#{@member.name.titlecase} at " if params[:controller] == "members" && params[:action] == "show" && !@member.nil? %>League of Intrapreneurs" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.leagueofintrapreneurs.com" />
		<meta property="og:image" content="http://www.leagueofintrapreneurs.com/assets/branding/og.gif" />
		<meta property="og:description" content="League of Intrapreneurs" />
		<meta property="fb:admins" content="1009211182" />
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
				
		<% if Rails.env.production? %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'xxxxxxxxx']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<% end %>
		
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		
	</head>
	<body class="<%= "section_#{params[:controller].parameterize.underscore} view_#{params[:action]}"%>">

		<header class="container">
			
			<div id="social">
				<p>Connect with the League</p>
				<ul class="icon_list">
					<li class="twitter"><%= link_to "Twitter", "https://twitter.com/SocIntLeague" %></li>
					<li class="facebook"><%= link_to "Facebook" %></li>
					<li class="linkedin"><%= link_to "LinkedIn" %></li>
				</ul>
				
				<form action="http://leagueofintraprenuers.us6.list-manage.com/subscribe/post?u=0aa8655fab29ac4bd11775b73&amp;id=f4d6435111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="input smart_label email">
						<label for="mce-EMAIL">Email</label>
						<input type="email" value="" name="email" class="required email" />
					</div>
					<div class="input smart_label string">
						<label for="mce-NAME">Name</label>
						<input type="text" value="" name="name" class="string" />
					</div>
					<div id="mce-responses">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
				</form>

			</div>
			
			<p id="branding"><span class="init">The</span> <span class="title">League of <br />Intrapreneurs</span></p>
			<p id="tagline">The League of Intraprenuers is a collaborative effort between a number of organisations, including Interameric and Development Bank, Accenture and Imaginals. <span>Our aim is to help amplify an emerging movement of corporate change agents &mdash; or social intraprenuers.</span></p>
			<nav id="primary_navigation">
				<ul>
					<li><%= link_to "The Stream", root_path, :class => ("active" if params[:controller] == "home") %></li>
					<li><%= link_to "About the League", about_path, :class => ("active" if params[:action] == "about") %></li>
					<li><%= link_to "Resources", category_path('resources'), :class => ("active" if params[:controller] == "categories") %></li>
				</ul>
			</nav>
			
		</header>

		<div id="main" role="main">
			<%= yield %>
		</div>
	
		<footer class="container">
			Twitter, <%= link_to "Partners", partners_path %>, <%= link_to "Press", press_path %>
			<p id="colophon">Copyright &copy; Imaginals 2013, view our <%= link_to "privacy policy", privacy_path %></p>
		</footer>

	</body>
</html>