<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
	<head>
		
		<title>League of Intrapreneurs</title>
		
		<meta name="description" content="League of Intrapreneurs" />
		<meta name="keywords" content="intrapreneur, entrapreneur" />
		<link rel="shortcut icon" href="/favicon.ico?v5" />
		
		<meta property="og:title" content="League of Intrapreneurs" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.leagueofintrapreneurs.com" />
		<meta property="og:image" content="http://www.leagueofintrapreneurs.com/assets/branding/og.gif" />
		<meta property="og:description" content="League of Intrapreneurs" />
		<meta property="fb:admins" content="1009211182" />
		
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
				
		<% if Rails.env.production? %>
		<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39930072-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
		<% end %>
				
	</head>
	<body class="<%= "section_#{params[:controller].parameterize.underscore} view_#{params[:action]}"%> <%= "bg" if params[:bg] %>">

		<header class="container">
			
			<div id="social">
				
				<p class="heading">Connect with the League</p>
				
				<ul class="icon_list">
					<li class="twitter"><%= link_to "Twitter", "https://twitter.com/SocIntLeague" %></li>
					<li class="facebook"><%= link_to "Facebook", "http://www.facebook.com/leagueofintrapreneurs" %></li>
				</ul>
				
				<p class="cta"><%= link_to "Join the league", join_path %></p>

			</div>
			
			<p id="branding"><%= link_to "".html_safe, root_path %></p>
			<p id="tagline">The League of Intrapreneurs is a global movement of corporate changemakers working to transform business from the inside out.</p>
			<nav id="primary_navigation">
				<ul>
					<li><%= link_to "About", about_path, :class => ("active" if params[:action] == "about") %></li>
					<li><%= link_to "People", people_path, :class => ("active" if params[:controller] == "intrapreneurs") %></li>	
					<li><%= link_to "Inspiration", inspiration_path, :class => ("active" if params[:controller] == "posts") %></li>
					<li><%= link_to "Events", events_path, :class => ("active" if params[:controller] == "events") %></li>
					<li><%= link_to "Resources", resources_path, :class => ("active" if params[:controller] == "resources") %></li>	
					<li class="toolkit-tab"><%= link_to "Cubicle Warriors Toolkit", toolkits_path, :class => ("active" if params[:controller] == "toolkits") %></li>
				</ul>
			</nav>
			
		</header>

		<div id="main" role="main">
			<%= yield %>
		</div>

	</body>
</html>